.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;

  .nav-links li {
    display: inline-block;
    padding: 0px 20px;
  }

  .nav-cta {
    background-color: purple;
    padding: 1em 2em;
    border-radius: 5px;
    color: white;
  }

  a:hover {
    transition: 0.2s ease;
    opacity: 0.7;
  }
}
